.jcarousel-wrapper{position:relative; padding: 0 0px;}
.jcarousel{position:relative; overflow:hidden; width:100%;}
.jcarousel ul{width:20000em; position:relative; list-style:none; margin:0; padding:0;}
.jcarousel li{width:200px; float:left;  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.jcarousel img{max-width:100%; height:auto!important;}
.jcarousel-control-next,.jcarousel-control-prev{position:absolute; top:50%; margin-top:-15px; width:38px; height:38px; text-align:center; color:#000; text-decoration:none; font:4em/27px Arial,sans-serif;}
.jcarousel-control-next,.jcarousel-control-prev a{ color: #000;}
.jcarousel-control-prev{left:-35px;}
.jcarousel-control-next{right:-35px;}
.jcarousel-pagination{position:absolute; bottom:-40px; left:50%; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); transform:translate(-50%,0); margin:0; display:none;}
.jcarousel-pagination a{text-decoration:none; display:inline-block; font-size:11px; height:10px; width:10px; line-height:10px; background:#fff; color:#4E443C; border-radius:10px; text-indent:-9999px; margin-right:7px; -webkit-box-shadow:0 0 2px #4E443C; -moz-box-shadow:0 0 2px #4E443C; box-shadow:0 0 2px #4E443C;}
.jcarousel-pagination a.active{background:#4E443C; color:#fff; opacity:1; -webkit-box-shadow:0 0 2px #F0EFE7; -moz-box-shadow:0 0 2px #F0EFE7; box-shadow:0 0 2px #F0EFE7;}
.prev-one{left: -47px!important;}
.next-one{right:-35px!important;}
.top-one{ margin-top: -2%!important;}
#seven .jcarousel{ padding: 0px 40px;}
div.wpcf7-response-output{position: absolute!important; top: 0px!important; background: #fff; border: solid 1px #000 !important; width: 684px; left: -30%; padding:90px; text-align: center; color: #000;}
.thank-box h2 { text-align: center!important; color: #000 !important; font-family: 'BauerBodoniStd-Italic'; font-weight: bold; font-size: 45px;}




