@media (min-width:1024px) and (max-width:1179px) {
	.wrapper{width:980px}
}

@media (min-width:768px) and (max-width:1023px) {
	.wrapper{width:730px}
}

@media (min-width:600px) and (max-width:767px) {
	.wrapper{width:570px}
}

@media (min-width:480px) and (max-width:599px) {
	.wrapper{width:455px}
}

@media (max-width:479px) {
	.wrapper{width:95%}
	.signin h3 {font-size: 1.5em;}
	ul.with-login li a {padding: 8px 0;}
	.signin input[type="submit"] {padding: 0.5em 0em; width: 60%;}
	.signin input[type="password"] {padding: 0.5em 1em;}
	.lost-top p {font-size: 0.9em;}
}
